body {
	margin: 0;
	padding: 3em;
	background: #f6f3f0 url(../img/background.jpg);
	color: #333;
	font: 110%/1.4 Helvetica, HelveticaNeue, "Helvetica Neue", Arial, Verdana, sans-serif;
}

#wrapper {
	max-width: 40em;
	margin: 0 auto;
}

#header {
	position: relative;
	background: url(../img/header.png) right top no-repeat;
	min-height: 290px;
	border-bottom: 0.5em solid black;
}

#header .share {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-bottom: 0.2em;
}
	.share .tweet {
		float: left;
		padding: 0 0 0.2em 10px;
	}

	.share .plusone { float: left; }

h1, h2 {
	background-color: #f6f3f0; /* Fallback */
	background-color: rgba(246, 243, 240, 0.75);
	display: inline-block;
	padding-right: 0.3em;
}

h1 {
	color: black;
	font-size: 240%;
	line-height: 1;
	margin: 0;
}

h2 {
	color: #5c5b5a;
	font-size: 150%;
	font-weight: normal;
	line-height: 1.3;
	margin: 1em 0 0 0;
}

blockquote {
	font-size: 90%;
	margin: 0;
	padding: 1em 1.11111111111em;
	background-color: #eae7e5; /* Fallback */
	background-color: rgba(219, 217, 215, 0.5);
	border-color: #acaba9; /* Fallback */
	border-color: rgba(117, 116, 115, 0.5);
	border-style: solid;
	border-width: 0 0.555555555556em;
}

	blockquote.golden {
		background-color: #ebcf9d; /* Fallback */
		background-color: rgba(224, 172, 74, 0.5);
		border-color: #cca96b; /* Fallback */
		border-color: rgba(174, 133, 58, 0.5);
	}

a {
	color: black;
	text-decoration: none;
	border-bottom: 0.1em dotted black;
}

a:hover { border-bottom-style: solid; }

.larger { font-size: 120%; }

#footer {
	border-top: 0.1em solid #dbd9d7;
	padding-top: 1em;
	text-align: right;
}
	.email {
		float: right;
		margin-bottom: 1em;
	}

@media screen and (max-width: 46em) {
	body { padding: 1em; }
	blockquote { margin: 0 -1.11111111111em; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		body {
			-webkit-background-size: 50%;
			-moz-background-size: 50%;
			-o-background-size: 50%;
			background-size: 50%;
		}
}
